<!-- Describe task in general -->

<p>
    给您一个字符串。您的函数应返回 <b class="code">{% if is_js %}t{% else %}T{% endif %}rue</b>如果字符串是一个有效的数字（只包含数字和适当位置的 "+-. <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>.查看掩码：
</p>
<pre>
[+- ][zero or more digits][.][zero or more digits]
</pre>
<p>
    当然，并非所有部分都是必要的（但至少有一个数字部分是必要的！）。例如，"+10. "或"-.55 "都是有效数字，省略等于0的部分。
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出</strong>逻辑值 <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>

<p>
    <strong>示例</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

