<!-- Describe task in general -->

<p>
    Тобі даний рядок. Твоя функція повинна повернути {% if is_js %}<b class="code">true</b>{% else %}<b class="code">True</b>{% endif %} якщо рядок є коректним числом (містить лише цифри і "+-."), інакше - {% if is_js %}<b class="code">false</b>{% else %}<b class="code">False</b>{% endif %}.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Рядок.
</p>

<p>
    <strong>Вихідні дані:</strong> Логічне (булеве) значення. 
</p>

<p>
    <strong>Приклади:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

