<!-- Describe task in general -->

<p>
    Вам задано рядок. Ваша функція повинна повернути <b class="code">{% if is_js %}t{% else %}T{% endif %}rue</b> якщо рядок є дійсним числом (містить лише цифри та знаки "+-." у відповідних місцях), інакше - <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>. Подивіться на маску:
</p>
<pre>
[+- ][zero or more digits][.][zero or more digits]
</pre>
<p>
    Звичайно, не всі частини є обов'язковими (але хоча б одна частина з цифрами - обов'язкова!). Наприклад, "+10." або "-.55" є допустимими числами, де частина, що дорівнює 0, пропущена.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>

<p>
    <strong>Приклади:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

