<!-- Describe task in general -->

<p>
    Тобі дано рядок. Твоя функція повинна повернути {% if is_js %}<b class="code">true</b>{% else %}<b class="code">True</b>{% endif %} якщо рядок є коректним числом (містить лише цифри і "+-." на належних місцях), інакше - {% if is_js %}<b class="code">false</b>{% else %}<b class="code">False</b>{% endif %}. Поглянь на шаблон:
</p>
<pre>
[+- ][zero or more digits][.][zero or more digits]
</pre>
<p>
    Звичайно, не всі частини необхідні. Наприклад, "+10."або "-.55" - це дійсні числа, де частина рівна 0 опущена.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Рядок.
</p>

<p>
    <strong>Вихідні дані:</strong> Логічне (булеве) значення. 
</p>

<p>
    <strong>Приклади:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

