<!-- Describe task in general -->

<p>
    Тобі даний рядок. Твоя функція повинна повернути {% if is_js %}<b class="code">true</b>{% else %}<b class="code">True</b>{% endif %} якщо рядок є коректним числом (містить лише цифри), інакше - {% if is_js %}<b class="code">false</b>{% else %}<b class="code">False</b>{% endif %}.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> A string.
</p>

<p>
    <strong>Output:</strong> A boolean. 
</p>

<p>
    <strong>Examples:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

