<!-- Describe task in general -->

<p>
    You are given a string. Your function should return <b class="code">{% if is_js %}t{% else %}T{% endif %}rue</b> if the string is a valid number (contains only digits and "+-." at proper places), otherwise - <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>. Look at the mask:
</p>
<pre>
[+- ][zero or more digits][.][zero or more digits]
</pre>
<p>
    Of course, not all parts are necessary (but at least one digit part is!). For example, "+10." or "-.55" are valid numbers, where part equal 0 is omitted.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> A string <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> Logic value <span translate="no">(bool{% if is_js %}ean{% endif %})</span>. 
</p>

<p>
    <strong>Examples:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

